@charset "UTF-8";
/* for making resopnsive  */
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.32%;
}
.col-5{
    width: 41.65%;
}
.col-6{
    width: 49.98%;
}
.col-7{
    width: 58.31%;
}
.col-8{
    width: 66.64%;
}
.col-9{
    width: 74.97%;
}
.col-10{
    width: 83.30%;
}
.col-11{
    width: 91.63%;
}
.col-12{
    width: 100%;
}

/* for desktop and laptop screen */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
}
/* Start css coding for heading */
#wlc_msg{
    width: 100%;
    height: 80px;
    position: absolute;
    z-index: 3;
    background-color: #ffffff;
    color: green;
    font-size: 40px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
}
header{
    display: flex;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.9);
    position: sticky;
    top: 0;
    z-index: 2;
}
.heading img{
    width: 8%;
}
.heading{
    display: flex;
    padding-left: 150px;
    justify-content: center;
    align-items: center;
    color: #14AEA8;
}
.heading h6{
    font-size: 13px;
}
#authorize{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* border: 1px solid red; */
}
#icon_photo{
    width: 39px;
    height: 39px;
    border-radius: 50%;
    cursor: pointer;
    /* border: 1px solid red; */
}
#user_icon{
    color: #ccc;
    font-size: 35px;
    cursor: pointer;
}
#profile_box,#update_box{
    width: 300px;
    height: fit-content;
    position: absolute;
    float: right;
    border: 1px solid #5f5d5d;
    top: 65px;
    right: 1px;
    background-color: #ffffff;
    border-radius: 5px;
    display: none;
    cursor: default;
}
#profile_pic,#update_pic{
    width: 150px;
    height: 150px;
    /* border: 1px solid red; */
    border-radius: 50%;
    box-shadow: 0px 0px 10px #000000;
    position: relative;
    top: 15px;
    left: 15px;
    margin-bottom: 30px;
}
#profile_icon,#update_profile_icon{
    position: absolute;
    font-size: 150px;
    color: #ccc;
    border-radius: 50%;
    opacity: 50%;
}
#upload_icon,#update_upload_icon{
    font-size: 70px;
    color: #a8a6a6;
    position: absolute;
    left: 40px;
    top: 40px;
}
#pic_insert,#update_pic_insert{
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
    font-size: 0;
    cursor: pointer;
}
#edit_btn{
    position: absolute;
    top: 130px;
    left: 150px;
    font-size: 20px;
    cursor: pointer;
}
#disp_name,#disp_userName, #disp_email, #disp_ph,#disp_dob{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: normal;
    margin: 10px;
}
#updateForm h4{
    font-weight: normal;
    font-family: sans-serif;
    font-size: 21px;
    width: 300px;
}
#changePassword{
    display: none;
}
#changePassword_btn,#updatePassword_btn{
    position: absolute;
    bottom: 0;
    left: 100px;
    font-size: 20px;
    padding: 9px;
    margin: 10px;
    margin-right: 0;
    background-color: #ccc;
    border: 1px solid #5f5d5d;
    border-radius: 5px;
    cursor: pointer;
}
#passwordCheckBtn{
    position: absolute;
    bottom: 63px;
    right: 43px;
    padding: 1px;
    display: none;
}
#sign_out,#update_btn{
    font-size: 20px;
    padding: 9px;
    margin: 10px;
    margin-right: 0;
    background-color: #ccc;
    border: 1px solid #5f5d5d;
    border-radius: 5px;
    cursor: pointer;
}
#update_box form{
    font-size: 23px;
    font-family: sans-serif;
    /* padding-left: 10px; */
}
#update_box form input{
    width: 50%;
    font-size: 15px;
    outline: none;
    font-family: sans-serif;
}
/* End css coding for heading */

/* Start css coding for navigation bar */
nav{
    display: flex;
    background-color: #14AEA8;
    position: sticky;
    top: 80px;
    z-index: 1;
}
.nav-bar{
    display: flex;
}
.fa-bars{
    display: none;
    color:#ffffff;
    font-size: 35px;
    padding-top: 4px;
    padding-left: 15px;
    /* border: 1px solid red; */
}
nav a{
    text-decoration: none;
}
#box_menu{
    display: flex;
    justify-content: space-around;
}
#proDisp{
    display: none;
}
#box_menu li{
    list-style: none;
    font-size: 20px;
    font-family: sans-serif;
    color: #ffffff;
    font-weight: bold;
    padding: 6px 15px;
    margin: 5px;
}
.fa-angle-right{
    display: none;
}
#box_menu li:hover{
    background-color: #30c9c4;
    border-radius: 5px;
}
.search-box{
    display: flex;
    align-items: center;
    background-color: #14AEA8;
}
.search-box input{
    width: 100%;
    padding: 8px;
    padding-left: 40px;
    font-size: 15px;
    border-radius: 30px;
    background-image: url(../../all_files/logo/searchlogo.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 10px 7px;
    border: none;
    outline: none;
}
#option-btn{
    position: relative;
    cursor: pointer;
    /* border: 1px solid red; */
}
#drop-down-menu{
    display: none;
    width: 150%;
    position: absolute;
    top: 45px;
    left: 0;
    background-color: #14AEA8;
    /* border: 1px solid red; */
}
#option-btn:hover #drop-down-menu{
    display: block;
}
/* End css coding for navigation bar */

/* Start css coding for section element */
#subscribe{
    padding: 10px;
    font-size: 30px;
    color: #ffffff;
    background-color: red;
    border-radius: 5px;
    position: fixed;
    right: 20px;
    bottom: 50px;
    z-index: 1;
    border: none;
    cursor: pointer;
}
.container{
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-around;
    position: relative;
    margin-top: 10px;
}

section h1{
    font-size: 30px;
    font-family: sans-serif;
}
section img{
    width: 310px;
    border-radius: 8px;
    cursor: pointer;
}

section p{
    margin: 0 30px 50px 0;
}

section p a{
    text-decoration: none;
}

#important-links{
    display: flex;
    text-align: center;
    font-family: sans-serif;
}

/* End css coding for section element */

/* Start css coding for footer element */
footer{
    width: 100%;
    display: flex;
    background-color: #000000;
    flex-wrap: wrap;
}
footer div{
    height: 220px;
    color: #ffffff;
    padding: 30px;
    font-family: sans-serif;
    font-size: 18px;
    /* border: 1px solid red; */
}
footer div:nth-child(2){
    padding: 0;
    padding-left: 70px;
}
#ch-logo{
    width: 60%;
    height: 100%;
}
#developer{
    text-align: center;
    height: fit-content;
}
#social-media-logo{
    width: 40px;
    height: 40px;
    margin: 10px;
}

#copyright{
    display: flex;
    height: 50px;
    border-top: 1px solid #ccc;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}
/* End css coding for footer element */

/* Responsive coding for mobile screen */
@media only screen and (max-width: 425px){
    header{
        height: 50px;
    }
    .heading{
        padding: 0;
    }
    .heading h1{
        font-size: 20px;
    }
    .heading h6{
        font-size: 10px;
    }
    #wlc_msg{
        height: 30px;
    }
    nav{
        top: 50px;
        padding: 2px;
    }
    .fa-bars{
        display: block;
        padding-top: 0;
    }
    #box_menu{
        display: none;
        flex-direction: column;
        background-color: #14AEA8;
        width: 10em;
        position: absolute;
        left: 0;
        top: 42px;
    }
    .nav-bar:hover #box_menu{
        display: block;
    }
    #box_menu li{
        margin: 0;
        padding: 0.7em;
    }
    .fa-angle-right{
        display: inline-block;
    }
    .fa-angle-down{
        display: none;
    }
    #drop-down-menu{
        width: 119%;
        top: 0;
        left: 159px;
    }
    .search-box{
        width: 42%;
    }
    .container{
        grid-template-columns: repeat(2,1fr);
    }
    section img{
        width: 90%;
    }
    section h1{
        font-size: 20px;
    }
    footer{
        flex-direction: column;
    }
    footer div:nth-child(2){
        display: none;
    }
    .length, #developer{
        width: 100%;
        border: 1px solid #cccccc ;
    }
    footer div:nth-child(3){
        padding-left: 30px;
    }
    #copyright{
        font-size: 0.7em;
        border: 1px solid #cccccc ;
    }
}

/* Responsive coding for Tablet device */
@media only screen and (min-width: 426px) and (max-width: 768px){
    header{
        height: 60px;
    }
    .heading{
        padding-left: 0;
    }
    #wlc_msg{
        height: 45px;
    }
    nav{
        top: 60px;
    }
    .fa-bars{
        display: block;
    }
    #box_menu{
        display: none;
        flex-direction: column;
        background-color: #14AEA8;
        width: 10em;
        position: absolute;
        left: 0;
        top: 43px;
    }
    .nav-bar:hover #box_menu{
        display: block;
    }
    #box_menu li{
        margin: 0;
        padding: 0.7em;
    }
    .fa-angle-right{
        display: inline-block;
    }
    .fa-angle-down{
        display: none;
    }
    #drop-down-menu{
        width: 119%;
        top: 0;
        left: 159px;
    }
    .search-box{
        width: 25%;
    }
    .container{
        grid-template-columns: repeat(3,1fr);
    }
    section img{
        width: 230px;
    }
    section h1{
        font-size: 27px;
    }
    .length{
        width: 50%;
    }
    footer div:nth-child(2){
        display: none;
    }
    #copyright{
        font-size: 0.7em;
    }
}

/* Responsive coding for small screen laptops*/
@media only screen and (min-width: 769px) and (max-width: 1024px){
    header{
        height: 65px;
    }
    #wlc_msg{
        height: 50px;
    }
    nav{
        top: 65px;
    }
    #box_menu{
        justify-content: space-between;
    }
    #box_menu li{
        font-size: 20px;
        margin: 0;
        padding: 6px 6px;
    }
    .search-box{
        padding-left: 1%;
    }
    .container{
        grid-template-columns: repeat(4,1fr);
    }
    section img{
        width: 240px;
    }
}
/* Responsive coding for wide screen
@media only screen and (min-width: 1440px){
    .search-box{
        display: flex;
        justify-content: right;
    }
    .container{
        grid-template-columns: repeat(4,1fr);
    }
    section img{
        width: 590px;
    }
    section h1{
        font-size: 80px;
    }
    .container p{
        font-size: 70px;
    }
} */