*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
}
#Heading{
    width: 100vw;
    height: 4rem;
    background-color: #050505;
    color: #14AEA8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Elephant, Times New Roman, sans-serif;
}
#logo{
    width: 60px;
    height: 3rem;
}
#box-menu{
    padding: 3px;
    background-color: #14AEA8;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    padding: 6px;
    border-radius: 30px;
    margin-inline: 10px;
    border: 1px solid;
}
#slider{
    position: absolute;
    top: 15px;
    left: 15px;
    width: 2em;
    height: 2em;
}
#subscribe{
    padding: 10px;
    font-size: 30px;
    color: #ffffff;
    background-color: red;
    border-radius: 30px;
    position: fixed;
    right: 5px;
    bottom: 5px;
}
@media (min-width: 300px) and (max-width: 412px) {    /* for Samsung Galaxy S20 Ultra 412x915px*/
    #Heading, #box-menu{
        width: 26rem;
    }
}
@media (min-width: 412px) and (max-width: 820px) {    /* for Tablet 820x1180px*/
    #Heading, #box-menu{
        width: 52rem;
    }
}